* {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: xx-large;
    background-color: rgb(92, 179, 150);
}

header{
    text-align: center;
}
h1{

}

li{
    font-size:x-large;
}