@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* didact-gothic-regular - latin */
@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/didact-gothic-v18-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("/fonts/didact-gothic-v18-latin-regular.woff") format("woff"); /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
  }

* {
    box-sizing: border-box;
    font-family: Raleway;
    color:rgb(214, 214, 214);
}
html, body{
    margin:0;
    padding:0;
    background-color: rgb(109, 50, 159);
}

.nav ul{
    margin:0;
}

.nav li{
    display: inline;
}

.nav a{
    display:inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.mainNav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid lightgray;
}

.mainNav li{
    padding: 0 5%;
}

.mainHeader{
    background-color: rgba(0,0,0,0.6);
    background-image: url(images/headerBG.jfif);
    background-size:cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.bandName{
    text-align: center;
    margin:0;
    font-size:4em;
    font-family: 'Didact Gothic';
    font-weight: normal;
}

.bandNameLarge{
    font-size: 8em;
}
.contentSection{
    margin:1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.sectionHeader{
    color:#333;
    text-align: center;
    font-size: 2.5em;
}

.aboutBandImage{
    float:left;
    margin: 15px;
    border-radius: 50%;
}
 
.mainFooter{
    background-color: #3a3a3a;
    color:white;
    padding: .25em 0;
    width: 100%;
}

.mainFooterContainer{
    display:flex;
    align-items: center;
}
.mainFooterContainer ul{
    flex-grow:1;
    text-align: center;
}
.footerNav li{
    padding: 0 .5em;
}
.footerNav img{
    width: 50px;
    height: 50px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}

.btnHeader{
    margin: 0.5em 15% 2em 15%;
    color:white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size:1.5em;
    font-weight: lighter;
    padding-left:2em;
    padding-right:2em;
}

.btnHeader{
    background-color: rgba(255, 255, 255, .3);
}
.btnPlay{
    display:block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}
.tourRow{
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tourRow:last-child{
    border: none;
}
.tourItem{
    display: inline-block;
    padding-right: .5em;   
}
.tourDate{
    color:whitesmoke;
    width:11%;
}
.tourCity{
    width:24%;
}
.tourArena{
    padding-right: 1em;
    width:42%;
}
.tourBtn{
    max-width: 19%;
    float:right;
    margin-right:1em;
    
}
.btnPrimary{
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btnPrimary:hover {
    background-color: #2D9CDB;
}
.shopItem{
    margin:30px;

}
.shopItemTitle{
    display:block;
    width:100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
.shopItemImage{
    height:250px;
}
.shopItemDetails{
    display:flex;
    align-items: center;
    padding:5px;
}
.shopItemPrice{
    flex-grow:1;
    font-size:1.25em;
}
.shopItems{
    display:flex;
    flex-wrap:wrap;
}
.tourMap{
    width:100%;
    height:200%;    
}